<header class="login__header">
  <h2><svg class="icon">
      <use xlink:href="#icon-lock" />
    </svg>Iniciar</h2>
</header>

<form action="#" class="login__form" method="POST">
    
  <div>
    <label for="Id">ID  </label>
    <input type="Id" id="Id" name="Id" placeholder="ID" class="Input" value="" size="20">
    
  </div>

  <div>
    <label for="Contraseña">Contraseña  </label>
    <input type="password" id="Contrasena" name="Contrasena" placeholder="Contraseña" class="Input" value="" size="20">
    
  </div>

  <div>
    <input class="button" type="submit" value="Iniciar">
  </div>

</form>



<!--<body>
    <header class="login__header">
        <h2><svg class="icon">
            <use xlink:href="#icon-lock" />
          </svg>Iniciar</h2>
      </header>
    
      <form action="#" class="login__form" method="POST">
    
        <div>
          <label for="Id">ID  </label>
          <input type="Id" id="Id" name="Id" placeholder="ID" class="Input" value="" size="20">
          
        </div>
    
        <div>
          <label for="Contraseña">Contraseña  </label>
          <input type="password" id="Contrasena" name="Contrasena" placeholder="Contraseña" class="Input" value="" size="20">
          
        </div>
    
        <div>
          <input class="button" type="submit" value="Iniciar">
        </div>
    
      </form>
  </body>-->


