/*head {
    background: #252427;
     color: rgb(0, 0, 0);
}

body {
     background-color: #c0c0c0;
     font-family: 'Varela Round', sans-serif;
     line-height: 1.5;
     margin: 0;
     min-block-size: 100vh;
     padding: 5vmin;

    }

    

   .align {
     display: grid;
     place-items: center;
   }*/