<header header class="docente__header ">
    <h2>Docente</h2>
</header>

<router-outlet></router-outlet>

<nav >
  
  <ul>
      <li><a routerLink="/docente/examen">Registrar examen</a></li>
      <!--<li><a href="#">Registrar examen</a></li>
      <a routerLink="/docente/examen">Registrar examen</a>-->
      <li><a href="#">Modificar examen</a></li>
      <li><a href="#">Buscar examen</a></li>
      <li><a href="#">Eliminar examen</a></li>
  
    </ul>
    <router-outlet></router-outlet>
</nav>




